/* styles.css */

body {
    /* font-family: Arial, sans-serif; */
    background-color: lightsteelblue;
}

.page {
    /* max-width: 800px; */
    margin: 0 auto;
    /* background-color: #fff; */
    padding: 0;
}

/* Style for picture-selector */
.picture-selector {
    position: relative;
    /* z-index: 1; /* Higher z-index to be on top */
    /* background-color: #FFD700; /* Yellow background for illustration */
    min-width: 40em;
    width: 100%;
    min-height: 1em;
    padding: 0;
    border: 0;
    text-align: center;
    /*border: 1px solid #000;*/
}

.table-picture-selector {
    border-collapse: collapse;
    width: 100%;
}

.cell-hours {
    border: .02em solid black;
    background-color: whitesmoke;
}

.cell-meridiem {
    font-size: medium;
    border: .02em solid black;
    background-color: whitesmoke;
}

.cell-mm {
    padding: 0;
    border: none;
    cursor: ;
}

.hovered-cell {
    /* background-color: rgba(173, 216, 230, 0.5); not working */
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: -0.1em -0.1em 0 #FFF, 0.1em -0.1em 0 #FFF, -0.1em 0.1em 0 #FFF, 0.1em 0.1em 0 #FFF;;
}
/*
.cell {
    cursor: pointer;
}

.cell:hover {
    background-color: lightblue;
}
*/

/* Style for container */
.pict-container {
    display: flex;
    flex-direction: row; /* Stack children vertically */
    min-width: 40em;
    border: 0;
    overflow: hidden;
}

/* Style for picture-frame and picture-info */
.picture-frame {
    position: relative;
    background-color: #CCC; /* grey while the picture is not loaded */
    min-width: 20em;
    width: 80%;
    /* min-height: 45em; */
    border: 0;
    padding: 0;
    text-align: center;
}

.picture-img {
    width: 100%;
}

/* Style for picture-frame and picture-info */
.picture-info {
    position: relative;
    /* background-color: #FFF; /* White background for illustration */
    min-width: 10em;
    width: 20%;
    min-height: 10em;
    border: 0;
    padding: 0;
    text-align: center;
}
