*.log
*.log.gz
*.pyc
.idea/
captures/
meteo.ini
meteo.db
failed_request.sql
src/main/py/public_html/index.html
src/main/py/public_html/graph.svg
src/main/py/public_html/capture.html
src/main/py/public_html/capture.json