*.log
*.log.gz
*.pyc
.idea/
captures/
meteo.ini
meteo.db
failed_request.sql
src/main/py/home_web/index.html
src/main/py/home_web/graph.svg
src/main/py/home_web/capture.html
src/main/py/home_web/capture.json